{% extends "base/front_base.html"%}
{% block title %}
    课程首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/course/course_index.min.css" %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="nav">
            <div class="nav-box">
                <h3 class="title">在线课堂</h3>
                <div class="nav-list">
                    <ul>
                        <li class="active"><a href="#">最新课堂</a></li>
                        <li><a href="#">投资人说</a></li>
                        <li><a href="#">明星案例</a></li>
                        <li><a href="#">创业知识</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <ul class="course-list">
                <li>
                    <a href="#">
                        <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" alt="">
                        <div class="desc">
                            <div class="title">创业CET如何避免技术决策错误</div>
                            <div class="author">龚世海</div>
                            <div class="pay"><span>¥20</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" alt="">
                        <div class="desc">
                            <div class="title">创业CET如何避免技术决策错误</div>
                            <div class="author">龚世海</div>
                            <div class="pay"><span>¥20</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" alt="">
                        <div class="desc">
                            <div class="title">创业CET如何避免技术决策错误</div>
                            <div class="author">龚世海</div>
                            <div class="pay"><span>¥20</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" alt="">
                        <div class="desc">
                            <div class="title">创业CET如何避免技术决策错误</div>
                            <div class="author">龚世海</div>
                            <div class="pay"><span>¥20</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" alt="">
                        <div class="desc">
                            <div class="title">创业CET如何避免技术决策错误</div>
                            <div class="author">龚世海</div>
                            <div class="pay"><span>¥20</span></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

