<div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a href="#" class="more">更多</a>
                </div>
                <div class="advertis"><a href=""><img src="https://static-image.xfz.cn/1554346383_8.png" alt=""></a></div>
                <div class="title-group"><span class="title">关注小饭桌</span></div>
                <div class="focus-group">
                    <div class="left-focus">
                        <ul>
                            <li class="zhihu"><a href="#" target="_blank">小饭桌创业课堂</a></li>
                            <li class="weibo"><a href="#" target="_blank">小饭桌创业课堂</a></li>
                            <li class="toutiao"><a href="#" target="_blank">小饭桌</a></li>
                        </ul>
                    </div>
                    <div class="right-focus">
                        <p class="desc">扫码关注小饭桌微信公众平台</p>
                    </div>
                </div>
                <div class="title-group">
                    <span class="title">热门推荐</span>
                </div>
                <div class="hot-news-group">
                    <ul class="hot-list">
                        <li>
                            <div class="left-group">
                                <p class="desc"><a href="#">他苦熬印度短视频三年，在下沉市场避开抖音竞争，靠趣头条模式获客融资千万</a></p>
                                <div class="more">
                                    <span class="category"><a href="#">热点</a></span>
                                    <span class="pub-time">09月20日</span>
                                </div>
                            </div>
                            <div class="right-group">
                                <img src="https://static-image.xfz.cn/1568719627_836.png-website.news.list" alt="">
                            </div>
                        </li>

                         <li>
                            <div class="left-group">
                                <p class="desc"><a href="#">他苦熬印度短视频三年，在下沉市场避开抖音竞争，靠趣头条模式获客融资千万</a></p>
                                <div class="more">
                                    <span class="category"><a href="#">热点</a></span>
                                    <span class="pub-time">09月20日</span>
                                </div>
                            </div>
                            <div class="right-group">
                                <img src="https://static-image.xfz.cn/1568719627_836.png-website.news.list" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
